name: build

on:
  push:
    branches:
      - "**"

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            name: windows
            platform: win32
            arch: x64
            npm_config_arch: x64
          - os: ubuntu-latest
            name: ubuntu-x64
            platform: linux
            arch: x64
            npm_config_arch: x64
          - os: ubuntu-latest
            name: ubuntu-arm64
            platform: linux
            arch: arm64
            npm_config_arch: arm64
          - os: macos-latest
            name: macos
            platform: darwin
            arch: arm64
            npm_config_arch: arm64
    runs-on: ${{ matrix.os }}

    env:
      target: ${{ matrix.platform }}-${{ matrix.arch }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - run: npm install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          npm_config_arch: ${{ matrix.npm_config_arch }}

      - run: npx vsce package --target ${{ env.target }}

      - uses: actions/upload-artifact@v4
        with:
          name: positron-certe-${{ matrix.name }}
          path: "*.vsix"

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: "*.vsix"
